.invasive_results_main_container{
	height: 370px; 
    margin-top: 115px; 
    box-shadow: 0px 5px 9px #bdbdbd, 0px 0px 10px #888;     
    background-color: #dddddd; 
}

.invasive_results_header_container{
	padding-top: 15px;
    margin-left: 20px;
}

.heamo_logo{
    width: 29px;
}

.invasive_results_header_text{
	padding-left: 31px;
    font-weight: 500;
    margin-top: 0px;    
    font-size: 34px;
    color: #4d4d4d;
    margin-bottom: 15px;
    font-family: 'LatoItalic';
}

.invasive_results_header_image{
    margin-right: 15px;
    width: 50px;
    float: left;
}

.invasive_results_small_text{
    color: #797979;
    font-size: x-large;
    padding-left: 6px;
}

.invasive_results_lip_units{
    font-size: 14px;
    color: #6d6d6de8;
    font-family: LatoRegular;
    text-align: center;
    margin: 0px;    
}

.invasive_results_glc_units{
    font-size: 14px;
    color: #6d6d6de8;
    font-family: LatoRegular;
    text-align: center;
    margin: 0px;    
}

.invasive_results_sub_container{
    width: 80%;
    margin: auto;
    background-color: #fff;
    height: 235px;    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
    padding: 10px;
    margin-top: 20px;
}

.invasive_results_image_container{
    left: 40px;
    top: 70px;
    position: absolute;
}

.invasive_results_image{
    width: 417px;
}

.mal{
    left: 85px;
    top: 151px;
    position: absolute;
}

.deng{
    left: 117px;
    top: 151px;
    position: absolute;
}

.hiv{
    left: 117px;
    top: 151px;
    position: absolute;
}

#mal{
    width: 345px;
}

#deng{
    width: 294px;
}

#hiv{
    width: 294px;
}

.invasive_results_over_all_status_container{
    left: 490px;
    width: 160.5px;
    height: 230.5px;
    position: absolute;
    border-radius: 10px;
    color: #4a4a4a;
    font-size: 15px;
    text-align: center;
    background-color: #87C427;
}

.invasive_results_over_all_status_titles{
	font-size: 20px;
    color: #4a4a4aa8;
    margin-top: 25px;
    font-weight: 500;
    margin-bottom: 0px;
    text-align: center;
    font-family: LatoBold;
}

.invasive_results_over_all_status_status_icons{
	width: 55px;
    margin-top: 35px;
}

.invasive_results_over_all_status_status_value{
	font-size: 22px;
    margin-top: 40px;
    text-align: center;
    /*text-transform: uppercase;*/
    letter-spacing: 0.6px;
    color: #fff;
    font-size: lato;
}

.invasive_results_status_bar_container{
	margin-top: 138px;
    height: 95.5px;
    width: 475px;
    background-color: #E6E6E6;
    position: absolute;
    border-radius: 10px;
    color: #4a4a4a;
    font-size: 17px;
    text-align: center;
}

.invasive_results_status_bar_heading{
	text-align: center;
    margin: 0px;
    margin-top: 5px;
    color: #4a4a4ab0;
    margin-bottom: 5px;
}

.invasive_results_lip_main_container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: absolute;
    grid-gap: 7px;
}

.ivt_results_lip_title_container{
	/* background-color: #E6E6E6; */
    height: 133px;
    width: 77px;
    position: absolute;
    border-radius: 10px;
    /* color: #4a4a4a; */
    font-size: 17px;
    text-align: center;
    left: 10px;
}

.invasive_results_lip_parameter_title{
	margin-top: -80px;
    font-size: 17px;
    /* background-color: #f2f2f2; */
    padding: 102px 0px;
    /* color: #383838; */
    border-radius: 10px 10px 0px 0px;
}

.invasive_results_lip_yourscore_title{
	/* color: #383838; */
    font-size: 17px;
    /* background-color: #e6e6e6; */
    padding: 0px 0px;
    position: relative;
    bottom: 63px;
}

.invasive_results_lip_yourstatus_title{
    margin-top: -45px;
    font-size: 14px;
}

.invasive_results_lip_yournrg_title{
    margin-top: 18px;
    /* color: gray; */
    font-size: 16px;
}

.invasive_results_lip_status_result{
    position: absolute;
    font-size: 21px;
    top: 70px;
    font-family: 'LatoBold';
    margin-top: 79px;
    margin-left: 15px;
}

.invasive_results_lip_ref_ranges{
    /* color: gray;
    font-size: 14px;
    position: fixed;
    top: 190px;
    left: 45px; */
    color: gray;
    font-size: 17px;
    position: absolute;
    top: 183px;
    margin-left: 35px;
}
.lip_normal_color{
    color: #87C427;
}
.lip_accpectable_color{
    color: #c8d506;
}
.lip_borderline_color{
    color: #f88922;
}
.lip_low_color{
    color: #FC3030;
}
.lip_high_color{
    color: #FC3030;
}

.invasive_results_lip_container{
    left: 90px;
    background-color: #E6E6E6;
    width: 133px;
    height: 234px;
    position: relative;
    border-radius: 10px;
    color: #4a4a4a;
    font-size: 17px;
    text-align: center;
}

.invasive_results_glc_parameter_title{
	margin-top: 0px;
    font-size: 14px;
    /* background-color: #f2f2f2; */
    padding: 25px 0px;
    /* color: #383838; */
    border-radius: 10px 10px 0px 0px;
}

.invasive_results_glc_yourscore_title{
	/* color: #383838; */
    font-size: 14px;
    /* background-color: #e6e6e6; */
    padding: 10px 0px;
}

.invasive_results_lip_title{
	font-size: 30px;
    font-weight: 500;
    color: #4a4a4ae3;
    margin-top: 8px;
    margin-bottom: 0px;
    text-align: center;
    font-family: LatoBold;
}

.invasive_results_lip_sub_title{
	/* font-size: 16px;  */
    font-size: 13px;
    color: #6d6d6de8; 
    font-family: LatoRegular;
    text-align: center;
    margin:1px;
}

.invasive_results_lip_value{
	margin-top: 66px;
    position: absolute;
    bottom: 73px;
    /* font-size: 32px; */
    font-size: 26px;
    margin-left: 15px;
    color: gray;
    font-family: LatoHeavy;
}

.invasive_results_glc_main_container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: absolute;
    grid-gap: 7px;
}

.invasive_results_glc_container{
    left: 90px;
    background-color: #E6E6E6;
    width: 123px;
    height: 133px;
    position: relative;
    border-radius: 10px;
    color: #4a4a4a;
    font-size: 17px;
    text-align: center;
}

.invasive_results_glc_title{
	font-size: 20px;
    font-weight: 500;
    color: #4a4a4ae3;
    margin-top: 8px;
    margin-bottom: 0px;
    text-align: center;
    font-family: LatoBold;
}

.invasive_results_glc_value{
	margin-top: 20px;
    font-size: 32px;
    margin-left: 6px;
    color: gray;
    font-family: LatoHeavy;
    margin-bottom: 0px;
}

.invasive_results_title_container{
	background-color: #E6E6E6;
    height: 133px;
    width: 475px;
    position: absolute;
    border-radius: 10px;
    color: #4a4a4a;
    font-size: 17px;
    text-align: center;
    left: 10px;
}

.invasive_results_parameter_title{
    display: flex;
	margin-top: 0px;
    font-size: 14px;
    background-color: #f2f2f2;
    padding: 15px 0px;
    color: #383838;
    border-radius: 10px 10px 0px 0px;
}

.invasive_results_yourscore_title{
    display: flex;
	color: #383838;
    font-size: 14px;
    background-color: #e6e6e6;
    /* padding: 10px 0px; */
}

.ivt_dengMal_results_title_container{
    background-color: #E6E6E6;
    height: 133px;
    width: 146px;
    position: absolute;
    border-radius: 10px;
    color: #4a4a4a;
    font-size: 18px;

}

.ivt_dengMal_results_parameter_title{
	margin-top: 0px;
    font-size: 14px;
    background-color: #f2f2f2;
    padding: 30px 0px;
    color: #383838;
    border-radius: 10px 10px 0px 0px;
}

.ivt_dengMal_results_parameter_title_txt{
	float: right;
    padding-right: 20px;
}

.ivt_dengMal_results_yourscore_title{
	color: #383838;
    font-size: 14px;
    background-color: #e6e6e6;
    padding: 10px 0px;
}

.ivt_dengMal_results_parameter_title_txt{
	float: right;
    padding-right: 20px;
}

.ivt_deng_results_parm1_container{
    left: 106px;
    background-color: transparent;
    width: 240px;
    height: 133px;
    position: absolute;
    border-radius: 10px;
    color: #4a4a4a;
    font-size: 17px;
    text-align: center;
}

.ivt_deng_results_parm1_title{
	font-size: 24px;
    font-weight: 500;
    color: #4a4a4ae3;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
    font-family: LatoBold;
}

.ivt_deng_results_param1_value{
	margin-top: 25px;
    font-size: 32px;
    margin-left: 6px;
    color: gray;
    font-family: LatoHeavy;
    margin-bottom: 0px;
}

.ivt_deng_results_param1_value.hi_in{
    margin-top: 5px;
    font-size: 32px;
    margin-left: 6px;
    color: gray;
    font-family: LatoHeavy;
    margin-bottom: 0px;
}

.ivt_deng_results_param1_sub_title{
	font-size: 11px; 
    color: #6d6d6de8; 
    font-family: LatoRegular;
    text-align: center;
    margin:0px;
}

.ivt_deng_results_parm2_container{
    left: 261px;
    background-color: transparent;
    width: 240px;
    height: 133px;
    position: absolute;
    border-radius: 10px;
    color: #4a4a4a;
    font-size: 17px;
    text-align: center;
}

.ivt_deng_results_parm2_title{
	font-size: 24px;
    font-weight: 500;
    color: #4a4a4ae3;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
    font-family: LatoBold;
}

.ivt_deng_results_param2_value{
	margin-top: 25px;
    font-size: 32px;
    margin-left: 6px;
    color: gray;
    font-family: LatoHeavy;
    margin-bottom: 0px;
}

.ivt_deng_results_param2_value.hi_in{
    margin-top: 5px;
    font-size: 32px;
    margin-left: 6px;
    color: gray;
    font-family: LatoHeavy;
    margin-bottom: 0px;
}

.ivt_deng_results_param2_sub_title{
	font-size: 11px; 
    color: #6d6d6de8; 
    font-family: LatoRegular;
    text-align: center;
    margin:0px;
}

.ivt_hiv_results_param1_value{
	margin-top: 31px;
    font-size: 32px;
    margin-left: 6px;
    color: gray;
    font-family: LatoHeavy;
    margin-bottom: 0px;
}

.ivt_hiv_results_param2_value{
	margin-top: 31px;
    font-size: 32px;
    margin-left: 6px;
    color: gray;
    font-family: LatoHeavy;
    margin-bottom: 0px;
}

.ivt_mal_results_parm1_container{
    left: 106px;
    background-color: transparent;
    width: 240px;
    height: 133px;
    position: absolute;
    border-radius: 10px;
    color: #4a4a4a;
    font-size: 17px;
    text-align: center;
}

.ivt_mal_results_parm1_title{
	font-size: 24px;
    font-weight: 500;
    color: #4a4a4ae3;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
    font-family: LatoBold;
}

.ivt_mal_results_param1_value{
	margin-top: 25px;
    font-size: 32px;
    margin-left: 6px;
    color: gray;
    font-family: LatoHeavy;
    margin-bottom: 0px;
}

.ivt_mal_results_param1_value.hi_in{
    margin-top: 5px;
    font-size: 32px;
    margin-left: 6px;
    color: gray;
    font-family: LatoHeavy;
    margin-bottom: 0px;
}

.ivt_mal_results_param1_sub_title{
	font-size: 11px; 
    color: #6d6d6de8; 
    font-family: LatoRegular;
    text-align: center;
    margin:0px;
}

.ivt_mal_results_parm2_container{
    left: 261px;
    background-color: transparent;
    width: 240px;
    height: 133px;
    position: absolute;
    border-radius: 10px;
    color: #4a4a4a;
    font-size: 17px;
    text-align: center;
}

.ivt_mal_results_parm2_title{
	font-size: 24px;
    font-weight: 500;
    color: #4a4a4ae3;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
    font-family: LatoBold;
}

.ivt_mal_results_param2_value{
	margin-top: 25px;
    font-size: 32px;
    margin-left: 6px;
    color: gray;
    font-family: LatoHeavy;
    margin-bottom: 0px;
}

.ivt_mal_results_param2_value.hi_in{
    margin-top: 5px;
    font-size: 32px;
    margin-left: 6px;
    color: gray;
    font-family: LatoHeavy;
    margin-bottom: 0px;
}

.ivt_mal_results_param2_sub_title{
	font-size: 11px; 
    color: #6d6d6de8; 
    font-family: LatoRegular;
    text-align: center;
    margin:0px;
}

.ivt_heamo_results_title_container{
    background-color: #E6E6E6;
    height: 133px;
    width: 220px;
    position: absolute;
    border-radius: 10px;
    color: #4a4a4a;
    font-size: 18px;

}

.ivt_heomo_results_parameter_title{
	margin-top: 0px;
    font-size: 14px;
    background-color: #f2f2f2;
    padding: 30px 0px;
    color: #383838;
    border-radius: 10px 10px 0px 0px;
}

.ivt_heomo_results_parameter_title_txt{
	float: right;
    padding-right: 20px;
}

.ivt_heamo_results_yourscore_title{
	color: #383838;
    font-size: 14px;
    background-color: #e6e6e6;
    padding: 10px 0px;
}

.ivt_heamo_results_parameter_title_txt{
	float: right;
    padding-right: 20px;
}

.ivt_heamo_results_parm1_container{
    left: 240px;
    background-color: transparent;
    width: 240px;
    height: 133px;
    position: absolute;
    border-radius: 10px;
    color: #4a4a4a;
    font-size: 17px;
    text-align: center;
}

.ivt_heamo_results_parm1_title{
	font-size: 24px;
    font-weight: 500;
    color: #4a4a4ae3;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
    font-family: LatoBold;
}

.ivt_heamo_results_param1_value{
	margin-top: 25px;
    font-size: 32px;
    margin-left: 6px;
    color: gray;
    font-family: LatoHeavy;
    margin-bottom: 0px;
}

.ivt_heamo_results_param1_value.hi_in{
    margin-top: 5px;
    font-size: 32px;
    margin-left: 6px;
    color: gray;
    font-family: LatoHeavy;
    margin-bottom: 0px;
}

.ivt_heamo_results_parm1_units{
    font-size: 14px;
    color: #6d6d6de8;
    position-top: 0px;
    font-family: LatoRegular;
    text-align: center;
    margin: 0px;    
}

.invasive_results_parameter_text{
    padding-left: 30px;
    font-size: inherit;
}

.invasive_results_score{
    padding-left: 30px;
}

.ivt_arrow_text_design {
    font-size: 12px;
    height: 22px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 140px;
    top:35px;
}

.ivt_arrow_scale_pos {
    transition: all .1s ease-in-out;
    -webkit-animation: scalebounce 2s 1;
    -moz-animation: scalebounce 2s 1;
    animation: scalebounce 2s 1;
    top: 21px;
    left: -29px;
    height: 40px;
}

.ivt_arrow_scale_pos .ivt_arrow_size_pos {
    display: block;
}

.ivt_arrow_size_pos {
    background: url(../images/bmi_scale_arrow20120509.png) no-repeat;
    display: none;
    height: 15px;
    margin: 0.35em auto;
    width: 25px;
    background-size: 20px;
}

#ivt-ref-chart {
    border: 1px solid black;
    height: 18px;
    border-radius: 10px;
    display: flex;
    width: 90%;
    margin: auto;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to right, #37bd46, #37bd46, #eb1f12, #eb1f12);
    top: 7px;
    padding: 5px;
    justify-content: space-between;
    /* color: #E6E6E6; */
}

#ivt_ref_text{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.invasive_urn_result_container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    /* width: 304px; */
    /* height: 234px; */
    align-items: baseline;
}

.invasive_urn_result_table1, .invasive_urn_result_table2{
    box-shadow: 0px 3px 11px #bdbdbd, 0px 0px 7px #888;
    background: #dddddd;
    width: 305px;
}

.status_healthy{
	background-color: #83d501;
}

.status_positive{
	background-color: #ac0404;
}

.status_positive .invasive_results_over_all_status_titles{
	color: #fff;
}

.status_consult{
	background-color: #ef940f;
}

.hemo_display_arrow_pos1{
    left: -10px;
}
.hemo_display_arrow_pos2{
    left: 80px;
}
.hemo_display_arrow_pos3{
    left: 158px;
}
.hemo_display_arrow_pos4{
    left: 262px;
}
.hemo_display_arrow_pos5{
    left: 363px;
}

.display_arrow_pos1 {
    left: 5px;
}

.display_arrow_pos2 {
    left: 162px!important;
}

.display_arrow_pos4 {
    left: 345px;
}

.glu_arrow_text_design {
    font-size: 12px;
    height: 22px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 140px;
    top:35px;
}

.glu_arrow_scale_pos {
    transition: all .1s ease-in-out;
    -webkit-animation: scalebounce 2s 1;
    -moz-animation: scalebounce 2s 1;
    animation: scalebounce 2s 1;
    top: 37px;
    height: 40px;
}

.glu_arrow_scale_pos .glu_arrow_size_pos {
    display: block;
}

.glu_arrow_size_pos {
    background: url(../images/bmi_scale_arrow20120509.png) no-repeat;
    display: none;
    height: 15px;
    margin: 0.35em auto;
    width: 25px;
    background-size: 20px;
}

#glu-ref-chart {
    border: 1px solid black;
    height: 18px;
    border-radius: 10px;
    display: flex;
    width: 90%;
    margin: auto;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to right, #37bd46, #7ea700, #ac8b00, #d16400, #eb1f12);
    top: 25px;
    padding: 5px;
    justify-content: space-between;
    color: #E6E6E6;
}

.heamo_arrow_text_design {
    font-size: 12px;
    height: 22px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 140px;
    top:35px;
}

.heamo_arrow_scale_pos {
    transition: all .1s ease-in-out;
    -webkit-animation: scalebounce 2s 1;
    -moz-animation: scalebounce 2s 1;
    animation: scalebounce 2s 1;
    top: 37px;
    height: 40px;
}

.heamo_arrow_scale_pos .heamo_arrow_size_pos {
    display: block;
}

.heamo_arrow_size_pos {
    background: url(../images/bmi_scale_arrow20120509.png) no-repeat;
    display: none;
    height: 15px;
    margin: 0.35em auto;
    width: 25px;
    background-size: 20px;
}

#heamo-ref-chart {
    border: 1px solid black;
    height: 18px;
    border-radius: 10px;
    display: flex;
    width: 90%;
    margin: auto;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to right, #d16400, #09c21d, #eb1f12);
    top: 25px;
    padding: 5px;
    justify-content: space-between;
    color: #E6E6E6;
}