<div id="bpgauge_container">
    <div id ="ecgContainer">
	    <div id="bloodpressure_ad" ng-show="true" >
	        <div class="ad-container" >
	            <video width="620" height="440" controls="false" loop autoplay id="ecg_ad_video">
					<!-- <source src="http://www.w3schools.com/html/mov_bbb.mp4?x=1501665283268" type="video/mp4"> -->
					<source src="./video/mov_bbb.mp4" type="video/mp4">
				</video>
	            <div id="bpad-video-wrapper" class="video-wrapper" ng-show="true">
	
	            </div>
	        </div>
	    </div>
		<div id ="ecgAnimation" style="display: none;"></div>
	</div>			
</div>