<style>
	.genix_teleconsultation_video_call_container{
		width:100%;
		height:100%;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		font-size: 1.1em;
   		letter-spacing: 0.1px;
	}
</style>
<div class="tele_header_container">
    <img class="tele_header_image" src="./images/telmed.png">
    <span class="tele_header_text"> Video Call </span> 
</div>

<div class="tele_main_container">
	<div class="genix_teleconsultation_video_call_container">
		{{genixConstants.progressMessage}}
	</div>
</div>