<!-- <h2 id="finalresults_title">
    <span  ng-show="higiGauge.pointsVisible" class="points-title">{{interfaceLabels[higiGauge.pointsBadgeTitle]}}</span>
    <span  ng-show="higiGauge.scoreVisible" class="score-title {{langClass}}">{{interfaceLabels[higiGauge.scoreBadgeTitle]}}</span>
</h2> -->
<!-- <div id="point-wrapper" ng-show="higiGauge.pointsVisible">
    <div id="point-gauge-badge" class="{{higiGauge.sparkleClass}}" ></div>
    <span ng-show="higiGauge.pointsVisible">
             <span id="point-score" class="point">{{higiGauge.finalResultsPointScore}}</span>
    </span>
    <span class="units" ng-show="higiGauge.pointsVisible">{{interfaceLabels[higiGauge.pointsBadgeUnits]}}</span>
    <span class="activity-name" ng-show="higiGauge.pointsVisible">{{interfaceLabels[higiGauge.pointsBadgeLabel]}}</span>
</div>
<div id="point-wrapper" class="higi-score-visible" ng-show="higiGauge.scoreVisible" >
     <div id="score-gauge-badge"  ng-show="higiGauge.scoreVisible"></div>

    <span ng-if="higiGauge.scoreVisible">
        <span id="higi-score" class="score higi-score" >
            {{higiGauge.finalResultsPointScore}}
        </span>
    </span>
</div>
 -->

