<style type="text/css">
	.telemedi_slide_container{
	    overflow: hidden;
	    top: 0;
	    left: 0;
	    width: 710px;
	    height: 520px;
	}
	.telemedi_slide_title{
		font-size: 31px;
	    color: #0261c2;
	    font-family: "IntervalSansProCondSemiBoldRg";
	    position: absolute;
	    top: 20px;
	    left: 20px;
	    width: 670px;
	}

	 .tele_textbutton {
        top:131px;
        left: 450px;
    }

     .tele_checkbutton {
        top:50px;
    }

    .tele_radiobutton{
    	top: 182px;
        left: 420px;
    }

    .tele_textareabutton{
        top: 50px;
    }
</style>


<div data-ng-show="telemediAgreement">
	<div id="telemedicine_termstitle" >{{interfaceLabels[termscondition]}}</div>
	<div class="scrollbar" id="style-1"> 
		<h3 style="color: #0261c2; text-align: center;"> Tele Consultation </h3>

		<p style="margin-left: 6px;"> Equitable access to healthcare services is a challenge for citizens of every country. This challenge is taking position in India due to limited resources and widespread settlements, especially in remote villages. In addition to issues around availability of healthcare organizations hurdles like affordability, remoteness, travel logistics, doctors' preference for cities, and so on are depriving appropriate and timely care. Such challenges fueled by healthcare seeking behavior are further enhancing severity of diseases and associated cost. Ideally most of such health issues can and should be managed locally and can be achieved through TeleMedicine. </p>

		<p style="margin-left: 6px;font-weight:900;"> TeleMedicine is a delivery system that uses 
		     telecommunication technology, information technology and Electronic Medical Record (EMR) and provides following major outcomes:</p>


		<ul style="margin-top:0;margin-bottom:0;">
		  <li>
		    <p >Minimize patient travel for healthcare services, especially during sickness
		      </p>
		  </li>
		  
		  <li>
		    <p >Decrease relocation of medical specialist
		      </p>
		  </li>
		  <li>
		    <p >Enhanced quality of care
		      </p>
		  </li>
		  <li>
		    <p >Continuity of care through EMR
		      </p>
		  </li>
		  <li>
		    <p >Continuity of care through EMR
		      </p>
		  </li>
		  
		</ul>
		<p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;margin-left: 6px;"><span style="font-size:13.999999999999998pt;font-family:Arial;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;color:#0261c2;">Concept</span></p>
		<p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:10.5pt;font-family:Arial;color: #6d6d6d;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;margin-left:6px;">At the simplest for the main steps of this concept are:</span></p>
		<ul style="margin-top:0;margin-bottom:0;">
		  <li>
		    <p >Capturing clinical information at a remote site.
		      </p>
		  </li>
		  
		  <li>
		    <p >Transmitting such information to a specialist location.
		      </p>
		  </li>
		  <li>
		    <p >Interpretation of such information and advice, along with video. 
		      </p>
		  </li>
		  <li>
		    <p >Storing entire interaction in database.
		      </p>
		  </li>
		  <li>
		    <p >Making such information available to patients and authorized people.
		      </p>
		  </li>
		  
		</ul>
		<p dir="ltr" style="line-height:2.571428571428571;margin-left:6px;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:13.999999999999998pt;font-family:Arial;color:#0261c2;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Service Overview&nbsp;</span></p>
		<p style="margin-left:6px;"> Every person looking at obtaining telemedicine services shall register with IHL . IHL will create uniquely identifiable EMR for each and every user. The demographic details and existing medicine is entered into their medical EMR to provide appropriate healthcare services whenever the user  needs. This will enhance the quality of care. All clinical interactions are recorded and stored in the EMR and will be maintained until the agreed period of time. This EMR is accessible to all authorized persons (enrollee's explicit consent required) from anywhere in the world. </p>
		<p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:Arial;color: #6d6d6d;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp;Consent form for Tele-medicine</span></p>
		<p>
		  <br>
		</p>
		<p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:Arial;color: #6d6d6d;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;margin-left:6px;">Basic Information&nbsp;</span></p>
		<p>
		  <br>
		</p>
		<div align="left" dir="ltr" >
		  <table style="border: 1px solid;width: 491px;margin-left: 6px;border-radius: 4px;border-color: #6d6d6d;">
		    <tbody>
		      <tr style="height:57.75pt;">
		        <td >Patient Name---------------------------</td>
		              
		        <td >Date of Birth---------------------------</td>
		     </tr>
		     <tr>
		     	<td >Mobile Number---------------------------</td>
		     </tr>
		    </tbody>
		  </table>
		</div>
		<p>
		  <br>
		</p>

		<p dir="ltr" style="margin-left:6px;">The purpose of this form is to obtain your consent to participate in a tele-medicine consultation with the following doctor-----------------------------.
		  </span></p>
		<p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:Arial;color: #6d6d6d;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;margin-left:6px;">Introduction</span><span style="font-size:11pt;font-family:Arial;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp;&nbsp;</span></p>
		<p style="margin-left:6px;">Telemedicine is the delivery of healthcare services when the healthcare provider and patient are not in the same physical location through the use of technology . electronically -transmitted information may be used for diagnosis, therapy ,follow-up and/ or patient education, and may include any of the following </p>
		<p>
		  <br>
		</p>  
		  <ol type="a">
		    <li>Patient medical records</li>
		    <li>Interactive audio, video , and / or data communication.</li>
		    <li>Put data from medical devices</li>
		</ol>
		<p>
		  <br>
		</p>
		<ol type="1">
		<li style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:Arial;color: #6d6d6d;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Purpose and benefits</span></li>
		<ol type="a">
		<br>
		<li> Tele-medicine enables patients living in rural and/ or underserved areas to get medical care by specialist without the inconvenience</li>
		<br>
		<li> More efficient medical evaluation and management.</li>
		</ol>
		<br>
		<br>
		<li style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:Arial;color: #6d6d6d;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;"> Nature of Tele- medicine consultation :</span><span style="font-size:11pt;font-family:Arial;color: #6d6d6d;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">During the tele-medicine consultation:</span></li>
		<ol type="a">
		<br>
		<li> User has to decide on the doctor.</li>
		<br>
		<li> After deciding the doctor , details of your health vitals  will be Securely encrypted and  shared with the doctor through the use of API (application program interface) call </li>
		<br>
		<li>Users have to fill out the questionnaire also ( if required ).</li>
		<br>
		<li>After that , there would be tele-medicine calls between patients and doctors.</li>
		<br>
		<li>Your prescription will be shared through the mail and you can take a printout of the 
		Same.</li>
		</ol>
		<br>
		<br>
		<li style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:Arial;color: #6d6d6d;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">  Medical Information and Records</span></li>
		<ol type="a">
		<br>
		<li>All existing laws regarding your access to medical information and copies of your medical records apply to this tele-medicine consultation</li>
		<br>
		<li>Please note,  all telecommunications are recorded and stored  (Patient data, Doctor data, doctor prescription are stored into Azure Data Base database except audio/ video record.)</li>
		</ol>
		<br>
		<br>
		<li style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:Arial;color: #6d6d6d;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Possible risk</span></li>
		<ol type="a">
		<br>
		<li>Delays in medical evaluation and treatment could be due to the failure of internet connection . During this time , please wait for sometime to connect again with the Doctor. (If the connection does not come back, Page will redirect to the welcome page. If a patient is interested, call the doctor. Patients should log in their own account and recall to the doctor.)</li>
		<br>
		<li>In rare cases, information transmitted may not be sufficient (e.g. poor resolution of images) to allow for appropriate medical decision making by the physician and consultant(s)</li>
		</ol>
		</ol>  
		<p>
		  <br>
		</p>

		<p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:Arial;color: #6d6d6d;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;By signing this form, I understand the following</span></p>
		  <br>
		<ol type="1">
		<li>I understand that the laws that protect privacy and the confidentiality of medical information also apply to telemedicine, and that no information obtained in the use of telemedicine which identifies me will be disclosed to researchers or other entities without my consent.
		</li>
		 <br>
		<li> I understand that I have the right to withhold or withdraw my consent to the use of telemedicine in the course of my care at any time, without affecting my right to future care or treatment.
		</li>
		 <br>
		<li> I understand that I have the right to inspect all information obtained and recorded in the course of a telemedicine interaction, and may receive copies of this information for a reasonable fee.
		</li>
		 <br>
		<li>I understand that a variety of alternative methods of medical care may be available to me, and that I may choose one or more of these at any time.  My ophthalmologist has explained the alternatives to my satisfaction. 
		</li>
		 <br>
		<li>I understand that telemedicine may involve electronic communication of my personal medical information to other medical practitioners who may be located in other areas, including out of state. 
		</li>
		 <br>
		<li> I understand that it is my duty to inform my ophthalmologist of electronic interactions regarding my care that I may have with other healthcare providers. 
		</li>
		 <br>
		<li>I understand that I may expect the anticipated benefits from the use of telemedicine in my care, but that no results can be guaranteed or assured.  
		</li>
		</ol>
		<p>
		  <br>
		</p>
		<p dir="ltr" style="line-height:1.38;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:11pt;font-family:Arial;color: #6d6d6d;background-color:transparent;font-weight:700;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Patient Consent To The Use of Telemedicine&nbsp;</span></p>
		<p style="margin-left:6px;">I have read and understand the information provided above regarding telemedicine, have discussed it with my physician or such assistants as may be designated, and all of my questions have been answered to my satisfaction. &nbsp;I hereby give my informed consent for the use of telemedicine in my medical care.</p>
	</div>

	 <div id="telemedicine_disclaimer_btn" ng-click="telemedicineStart.toggleagreed()" class="telemedicine_agree_btn {{telemedicineStart.agreedbuttonclass}}"></div>
	 <div id="telemedicine_agree_note">{{interfaceLabels[agreebutton]}}</div>

	 <div id="telemedicine_disclaimer_disagree_btn" ng-click="telemedicineStart.toggledeclined()" class="telemedicine_disagree_btn {{telemedicineStart.declinedbuttonclass}}"></div>
	 <div id="telemedicine_disagree_note">{{interfaceLabels[disagreebutton]}}</div>

	<div id="telemedicine_submit_btn" class="telemedicine_confirm_submit_btn confirm {{telemedicineStart.submitbuttonclass}}" ng-click = "telemedicineStart.submitBtn()"><span class="{{langClass}}">{{interfaceLabels[submitbutton]}}</span>
	</div>
</div>

<div data-ng-hide="telemediAgreement">
	<div data-ng-repeat="slide in telemedi.questionSlides" data-ng-if="telemedi.questionSlides.length != 0" class="{{slide.slideAnimateClass}}}">
		
    <div class="telemedi_slide_container" data-ng-show="slide.slideShow">
    	<div class="telemedi_slide_title" >{{slide.title}}</div>

	        <div data-ng-repeat="question in slide.questions | startFrom:currentPage*pageSize | limitTo:pageSize">
	        	<telemedi-text-field data-ng-if="question.input_type == 'textbox'" telefield="question"> </telemedi-text-field>
	        	<telemedi-radio-field data-ng-if="question.input_type == 'radio'"  teleradio="question"> </telemedi-radio-field>
	        	<telemedi-check-field data-ng-if="question.input_type == 'checkbox'" telecheck="question"> </telemedi-check-field>
	        	<span data-ng-if="question.input_type == 'textarea'"> {{question}} </span>
	        	<span data-ng-if="question.input_type == 'date'"> {{question}} </span>
	        	<span data-ng-if="question.input_type == 'file'"> {{question}} </span>

	        	<div data-ng-if="question.input_type == 'textbox' || question.input_type == 'textarea'" ng-init="keyboardShow()"></div>
	        	<div data-ng-if="question.input_type != 'textbox' && question.input_type != 'textarea'" ng-init="keyboardHide()"></div>
	        </div>
	        
	        <div style ="margin-top: 25px;padding-left: 20px;">
		        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" style=" 
    background-image: -moz-linear-gradient(90deg, #2a76c4 0%, #3f90e2 100%);
    background-image: -ms-linear-gradient(90deg, #2a76c4 0%, #3f90e2 100%);
    pointer-events: all;
    background-image: -moz-linear-gradient(90deg, #2a76c4 0%, #3f90e2 100%);
    background-image: -webkit-linear-gradient(90deg, #2a76c4 0%, #3f90e2 100%);
    background-image: -ms-linear-gradient(90deg, #2a76c4 0%, #3f90e2 100%);
    border-style: solid;
    border-width: 1px;
    border-color: #2a76c4;
    text-shadow: 0px -1px 0px #828282;
    border-radius: 3px;
    height: 50PX;
    WIDTH: 100PX;
    COLOR: #FFF;
    FONT-SIZE: 20PX;">
			        <
			    </button>
			    
			    <button ng-disabled="currentPage >= slide.questions.length/pageSize - 1" ng-click="currentPage=currentPage+1" style="
    background-image: -moz-linear-gradient(90deg, #2a76c4 0%, #3f90e2 100%);
    background-image: -ms-linear-gradient(90deg, #2a76c4 0%, #3f90e2 100%);
    pointer-events: all;
    background-image: -moz-linear-gradient(90deg, #2a76c4 0%, #3f90e2 100%);
    background-image: -webkit-linear-gradient(90deg, #2a76c4 0%, #3f90e2 100%);
    background-image: -ms-linear-gradient(90deg, #2a76c4 0%, #3f90e2 100%);
    border-style: solid;
    border-width: 1px;
    border-color: #2a76c4;
    text-shadow: 0px -1px 0px #828282;
    border-radius: 3px;
    height: 50PX;
    WIDTH: 100PX;
    COLOR: #FFF;
    FONT-SIZE: 20PX;">
			        >
			    </button>
			</div>

	        <a id="login_username_submit_btn" class="keyboard_submit_btn active_btn" data-ng-show="slide.nextBtnAva" ng-click="telemediSlideNxtBtn(slide)" ><span> Next </span></a>
	        <a id="login_username_submit_btn" class="keyboard_submit_btn active_btn" data-ng-show="slide.submitBtnAva" ng-click="telemediSlideSubmitBtn(slide)" ><span> Submit </span></a>

	        <a id="" class="keyboard_submit_btn active_btn" data-ng-show="slide.backBtnAva" ng-click="telemediSlideBckBtn(slide)" style="top:70px;"><span> Back </span></a>
	        
    </div>

	</div>
	<div data-ng-if="telemedi.questionSlides.length == 0">
		<h1> No questions are loaded </h1>
	</div>
</div>

