<div id="bpgauge_container">
    <div id="bpgauge_container_cover_top" class="bpgauge_container_3d_element"></div>
    <div id="bpgauge_container_cover_bottom" class="bpgauge_container_3d_element"></div>
    <div id="bpgauge_container_cover_edge" class="bpgauge_container_3d_element"></div>

    <div id="bpgauge_container_back">
        <div id="bpgauge_instruction_mask">
            <div id="bpgauge_instruction_overlay"></div>
            <!-- div id="bpgauge_instruction_hand"></div -->
        </div>
    </div>
    <div id="bpgauge_text"><span id="bpgauge_textnum">{{pressure}}</span><span id="bpgauge_mmhg">mmHg</span></div>
    <div id="bpgauge_top"></div>
    <div id="bpgauge_arc_gauge"></div>
    <div id="bpgauge_bottom"></div>
</div>