<div id="bloodpressure_results_pulse_gauge">
    <div id="bloodpressure_results_pulsebpm" class="{{langClass}}">
        <span class="result_gauge_title  {{langClass}}" higi_resource_html="bloodpressure03.beatsperminute">{{interfaceLabels[bp03BeatsPerMinute]}}</span>
                <span class="result_gauge_number"><span class="value"></span>
                </span>
    </div>

    <div class="result_gauge">
        <div class="result_gauge_top"></div>
        <div id="result_gauge_arrow_pulse" class="result_gauge_arrow"></div>
        <div class="result_gauge_back"></div>
    </div>
</div>