<!-- <div style="padding: 30px;">
    <b style="font-size: 72px;"> SpO2 tested </b>
</div> -->

<div class="infobox_content">
    <div class="infobox_content_title" ng-bind-html="interfaceLabels[temptile]"></div>
    <div class="infobox_content_subtitle"> 
        <p style="line-height: 1.75; text-align: justify; width: 90%;  margin: auto; margin-top: 25px; font-size: 18px"  ng-bind-html="interfaceLabels[conten]"></p>

        <p style="line-height: 1.75; text-align: justify; width: 90%;  margin: auto; margin-top: 25px; font-size: 18px" ng-bind-html="interfaceLabels[conten2]">
        </p>
	</div>
</div>

