<div class="spo2_results_main_container">
   <div class="spo2_results_header_container">
        <img class="spo2_results_header_image" src="./images/spo2/Icons-35.png">
        <p class="spo2_results_header_text">{{interfaceLabels[slideTitle]}}</span> <small class="spo2_results_small_text">{{interfaceLabels[slideSubTitle]}}</small></p> 

        <div class= "global_info_button" ng-click="showInfoboxSpo2()">
            <img class= "global_info_button_icon" src="images/icons8-info-32.png">
            <span class= "global_info_button_text">{{interfaceLabels[spo2Information]}}</span>
        </div>
    </div> 

    <div class="spo2_results_sub_container">
        <div class="spo2_results_title_container">
            <p class="spo2_results_parameter_title"> <span class="spo2_results_parameter_title_txt"> {{interfaceLabels[spo2Parameter]}} <span> </p>
            <p class="spo2_results_yourscore_title"> <span class="spo2_results_parameter_title_txt"> {{interfaceLabels[spo2Yourscore]}} </span> </p>
        </div>

        <div class="spo2_results_parm1_container">
            <p class="spo2_results_parm1_title">{{interfaceLabels[slideTitle]}}</p>
            <p class="spo2_results_param1_value {{langClass}}">{{oxygen}}
                <small class="spo2_results_parm1_units">%</small>
            </p>
        </div>

        <div ng-class="{'spo2_back_color1' : spo2Risk == 'Normal' , 'spo2_back_color3' : spo2Risk == 'Low'}" class="spo2_results_over_all_status_container">            <p class="spo2_results_over_all_status_titles">{{interfaceLabels[spo2level]}}</p>
            <p class="spo2_results_over_all_status_small_titles">{{interfaceLabels[spo2OverallStatus]}}</p>
            
            <img ng-if=" spo2Risk == 'Normal'" class="spo2_results_over_all_status_status_icons" src="./images/vital_status/vital_status_normal.png">
            <img ng-if="spo2Risk == 'Low'" class="spo2_results_over_all_status_status_icons" src="./images/vital_status/vital_status_risk.png">
            <p class="spo2_results_over_all_status_status_value" ng-style="spo2Risk == 'Low' && {'font-size':'16px'}">{{interfaceLabels[spo2RiskStatus]}}</p>
        </div>

        <div class="spo2_results_status_bar_container">
            <div>
                <div class="spo2_result_title" ng-bind-html="interfaceLabels[spo22scale]"></div>

                <div class="spo2_arrow_container">
                    <div id="spo2_01" class="spo2_scale_text">
                        <div class="spo2_arrow {{spo2IsHealthy}}"></div>
                    </div>
                    <div id="spo2_02" class="spo2_scale_text ">
                        <div class="spo2_arrow {{spo2IsAcceptable}}"></div>
                    </div>
                    <div id="spo2_03" class="spo2_scale_text">
                        <div class="spo2_arrow {{spo2IsAtrisk}}"></div>
                    </div>
                    <div id="spo2_04" class="spo2_scale_text">  
                        <div class="spo2_arrow {{spo2IsLow}}"></div>
                    </div>    
                </div>

                <div id="spo2-ref-chart">
                    <div style="padding-left: 20px;"> > 95%</div>
                    <div style="padding-right: 20px;"> < 95%</div>
                </div>
                <div id="spo2-ref-chart-info">
                    <div style="margin-left: 20px;">
                        <span class="{{spo2IsHealthy}}">{{interfaceLabels[globalSpO2Healthy]}} </span>
                    </div>
                    <div style="margin-right: 26px;">
                        <span class="{{spo2IsLow}}"> {{interfaceLabels[globalSpO2CheckHealthcareProvider]}} </span>
                    </div>
                </div>
                
                <!-- <div id="spo2_scale_bar">
                    <div id="spo2_01_status" class="spo2_scale_text">
                        <span class="{{spo2IsHealthy}}">{{interfaceLabels[globalSpO2Healthy]}} </span>
                    </div>
                    <div id="spo2_02_status" class="spo2_scale_text">
                        <span class="{{spo2IsAcceptable}}"> {{interfaceLabels[globalSpO2Acceptable]}} </span>

                    </div>
                    <div id="spo2_03_status" class="spo2_scale_text">
                        <span class="{{spo2IsAtrisk}}"> {{interfaceLabels[globalSpO2Atrisk]}} </span>

                    </div>
                    <div id="spo2_04_status" class="spo2_scale_text">
                        <span class="{{spo2IsLow}}"> {{interfaceLabels[globalSpO2Low]}} </span>
                    </div>
                </div> -->    
            </div>
        </div>
    </div>
</div>

<!-- <a class= "global_redo_button" ng-show="redoVisible" ng-click="redoSpo2()">
    <span class="global_redo_button_text"><b>Do</b> SpO<span style="font-size: 12px">2</span> Test <b>Again</b></span>
</a> -->
<div class="global_redo_button" ng-show="redoVisible" ng-click="redoSpo2()">
    <div class="global_redo_outer_line">
        <img src="images/Icons-27.png" class="global_redo_button_icon">
        <small class="global_redo_button_small_text">{{interfaceLabels[checkSpo2again]}} </small>
    </div>
</div>

<a class= "global_continue_next_button" ng-class = "{'button-enter-right' : nextVisible, 'button-exit-right' : !nextVisible}" ng-show="nextVisible" ng-click="nextButtonOut()">
    <span class="global_continue_next_button_text">{{interfaceLabels[nextSlideText]}}</span>
</a>

<!-- <div class="higi_top_container"></div>

<div id="weight03_pane" class=" spo2_weight03_pane" class="ng-scope" style="height: 370px;top:120px;font-family: Lato, 'Open sans';box-shadow: 10px 0px 10px grey, -10px 0px 10px grey">

    <div style="" class="result_title_block">
        <span style="
        font-size: 30px; font-style: italic;
        "><img src="images/spo2/Icons-35.png" style="width:40px">
        SpO2 <span style="color:white">Results</span></span>
        <button class="global_info_button" ng-click="showInfoboxSpo2()">
        <img src="images/info_btn.gif" style="width: 20px">&nbsp;Information</button>
    </div>

    <div id="spo2_03_results" style="display: flex;padding:10px;top:65px;border-radius: 10px;background-color: rgb(242,242,242);box-shadow: 10px 10px 10px rgb(153,153,153)">

        <div style="width:100%;height:100%;">
            
            <div class="spo2_03_result_parameter">
                <div class="spo2_03_result_parameter_heading">Parameter</div>
                <div style="width:50%;font-size: 20px;" ng-bind-html="interfaceLabels[slideTitl]"></div>
            </div>
            
            <div class="spo2_03_result_parameter">
                <div class="spo2_03_result_parameter_heading" style="border-radius: 0px 0px 10px 10px ">Your score</div>
                <div style="width:50%;"><span class="value ng-binding" style="font-size:40px;"> {{oxygen}}<span class="en_us" style="font-size: 32px;">{{interfaceLabels[spo2Unit]}}</span> </span></div>
            </div>

            <div style="" class="spo2_03_results_img_block">
                <div class="result_title en_us ng-binding" ng-bind-html="interfaceLabels[spo22scale]"></div>

                <div style="position: relative;width:100%">
                    <div id="bmi_01" style="top:0px" class="bmi_scale_text {{spo2IsHealthy}}">
                        <div class="bmi_arrow"></div>
                    </div>
                    <div id="bmi_02" style="top:0px"  class="bmi_scale_text {{spo2IsAcceptable}}">
                        <div class="bmi_arrow"></div>
                    </div>
                    <div id="bmi_03" style="top:0px"  class="bmi_scale_text {{spo2IsAtrisk}}">
                        <div class="bmi_arrow"></div>
                    </div>
                    <div id="bmi_04" style="top:0px"  class="bmi_scale_text {{spo2IsLow}}">
                        <div class="bmi_arrow"></div>
                    </div>    
                </div>
                
                <div id="spo2_scale">
                    <div id="bmi_01" class="bmi_scale_text {{spo2IsHealthy}}">
                        <span class="ng-binding">{{interfaceLabels[globalSpO2Healthy]}} </span>
                    </div>
                    <div id="bmi_02" class="bmi_scale_text {{spo2IsAcceptable}}">
                        <span class="ng-binding"> {{interfaceLabels[globalSpO2Acceptable]}} </span>

                    </div>
                    <div id="bmi_03" class="bmi_scale_text {{spo2IsAtrisk}}">
                        <span class="ng-binding"> {{interfaceLabels[globalSpO2Atrisk]}} </span>

                    </div>
                    <div id="bmi_04" class="bmi_scale_text {{spo2IsLow}}">
                        <span class="ng-binding"> {{interfaceLabels[globalSpO2Low]}} </span>
                    </div>
                </div>    
            </div>

        </div>
        <div class="spo2_03_results_right_section">
            <span style="font-size: 25px;">SpO2</span>
            <br>
            <span style="font-size: 23px">Oxygen Level</span>
            <br>
            <span style="color:grey;font-size: 16px">Overall Status</span>
            <br><br>
            <span style="color:white;font-size: 35px">Healthy</span>
            <br><br>
            <span><img style="width:50px"src="images/Icons-04.png"></span>
        </div>

        <div id="#spo2_03_results_spo2" style="display: none">
            <div class="result_title en_us" ng-bind-html="interfaceLabels[slideTitl]"></div>
            <div class="result testFadeIn" ng-show="true" style="">
                <span class="value ng-binding"> {{oxygen}}<span class="en_us" style="font-size: 32px;">{{interfaceLabels[spo2Unit]}}</span> </span>
            </div>
        </div>
        <div id="weight03_results_bmi_scale" style="display: none">
            <div class="result_title en_us ng-binding" ng-bind-html="interfaceLabels[spo22scale]"></div>
            <div id="spo2_scale">
                <div id="bmi_01" class="bmi_scale_text {{spo2IsHealthy}}">
                    <span class="ng-binding">{{interfaceLabels[globalSpO2Healthy]}} </span>
                    <div class="bmi_arrow"></div>
                </div>
                <div id="bmi_02" class="bmi_scale_text {{spo2IsAcceptable}}">
                    <span class="ng-binding"> {{interfaceLabels[globalSpO2Acceptable]}} </span>

                    <div class="bmi_arrow"></div>
                </div>
                <div id="bmi_03" class="bmi_scale_text {{spo2IsAtrisk}}">
                    <span class="ng-binding"> {{interfaceLabels[globalSpO2Atrisk]}} </span>

                    <div class="bmi_arrow"></div>
                </div>
                <div id="bmi_04" class="bmi_scale_text {{spo2IsLow}}">
                    <span class="ng-binding"> {{interfaceLabels[globalSpO2Low]}} </span>
                    <div class="bmi_arrow"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<a id="" class="global_previous_page_button {{langClass}} {{(redoVisible) ? buttonEnterLeft : buttonExitLeft}}" ng-show="redoVisible" ng-click="redoWeight()">
    <span class="{{langClass}} global_previous_page_text">{{interfaceLabels[redoSlideText]}}</span>
</a>

<a id="" class="global_continue_next_button {{langClass}}" ng-class = "{'button-enter-right' : nextVisible, 'button-exit-right' : !nextVisible}" ng-show="nextVisible" ng-click="nextButtonOut()">
    <span class="global_continue_next_button_text">{{interfaceLabels[nextSlideText]}}</span>
</a> -->


