<!-- <div id="slide_title">{{interfaceLabels[slideTitle]}}</div>
<div id="slide_subtitle">{{interfaceLabels[slideSubTitle]}}</div> -->
<div class="higi_top_container"></div>


<!-- <weight-instruction-one promisename="weightInstructionAnimationOneReady" class="weight-instructions"></weight-instruction-one>
<weight-instruction-two promisename="weightInstructionAnimationTwoReady" class="weight-instructions"></weight-instruction-two>

 -->
<div style="margin-top: 290px; text-align: center;"> 
	<!-- <temperature-in-progress></temperature-in-progress> -->

<div id="temperatureCalibrationAnimation"></div>

<div style="width: 80%; margin: auto; font-size: 26px; text-align: center; color: #8b8b8b; font-family: 'IntervalSansProMediumRegular';">
	<!-- <p>Please wait temperature device is getting ready..</p> -->
	<p> Please keep hand on your lap while is getting ready </p>
</div>


</div>



<div class="skip_test">
	<button class="skip_test_button" ng-show="skipTestInFullTest" ng-click="skipTestClick()" ng-bind="interfaceLabels[skipTest]"></button>
</div>

<!-- <a id="higi_control_right_ng_btn" class="right_control_btn {{langClass}} {{(nextVisible) ? buttonEnterRight : buttonExitRight}}" ng-show="nextVisible" ng-click="nextButtonOut()">
    <span class="{{langClass}} {{interfaceLabels[nextSlideText]}}">{{interfaceLabels[nextSlideText]}}</span>
</a>