<style>
.teleconsultation_summary_lab_order_modal_container{
    padding:20px; 
    height:100%;
    width:100%; 
    box-sizing: border-box;
}
.teleconsultation_summary_lab_order_modal_inner_container{

}
.teleconsultation_summary_lab_order_modal_title{
    font-family: 'LatoSemiBold';
    color: #0261c2;
    text-align: center;
    text-shadow: 0 1px 1px white;
    font-size: 28px;
    margin-top: 20px;
    line-height: 36px;
}
.teleconsultation_summary_lab_order_modal_description_container{
    text-align:center; 
    margin:20px 0px 10px 0px;
}
.teleconsultation_summary_lab_order_modal_description_image_container{
    margin:15px 0px;
}
.teleconsultation_summary_lab_order_modal_description_image{
    height:120px;
}
.teleconsultation_summary_lab_order_modal_button_container{
    text-align: center;
    margin:15px 0px;
}
.teleconsultation_summary_lab_order_modal_button{
    width: 300px;
    color: white;
    box-shadow: 4px 5px 3px #4a4a4ae0;
    background: linear-gradient(to bottom,#5aa4d9d1,#3989c3de, #0261c2f2);
    padding: 15px 20px;
    border-radius: 10px;
    border: 0;
    font-size: 16px;
    display:block;
    margin:auto;
}

#terms_condition_container {
    margin: 50px auto 50px 65px;
}

#terms_condition_checkbox {
    height: 43px;
    width: 43px;
    position: absolute;
    margin-left: -55px;
    margin-top: -10px;
    border: 2px solid #808080d1;
    border-radius: 9px;
    background-color: white;
}

#terms_condition_link {
    /*border: 2px solid #208ad6bf;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    color: #4d4d4d;
    box-shadow: 0px 5px 3px #4a4a4ae0;
    background: linear-gradient(to bottom,#f7f7f7, #dbdbdb , #c1c1c1);*/
    color: #0261c2;
    text-decoration: underline;
    pointer-events: all;
    cursor: pointer;
}

.disable_labOrder_btn {
    color: gray;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2) !important;
    background-image: -webkit-linear-gradient(90deg, #dedede 0%, #dfdfdf 10%, #eaeaea 84%, #ebebeb 100%) !important;
    border: 1px solid gray; !important;
    pointer-events: none !important;
}

#show_lab_UI_btn {
    margin-top: 10px;
    /*margin-left: 455px;*/
    pointer-events: all;
    padding: 10px;
    font-size: 20px;
    border: 2px solid #208ad6bf;
    border-radius: 10px;
    text-align: center;
    color: #4d4d4d;
    box-shadow: 0px 5px 3px #4a4a4ae0;
    background: linear-gradient(to bottom,#f7f7f7, #dbdbdb , #c1c1c1);
}

#terms_condition_mainUI_in_labOrder {
    background-color: #a7a4a42b;
    height: 410px;
    overflow: auto;
    border-radius: 5px;
    padding: 5px;
}
</style>

<div class="teleconsultation_summary_lab_order_modal_container">

    <div class="teleconsultation_summary_lab_order_modal_inner_container" ng-show="showLabOrderUI">
        <div class="teleconsultation_summary_lab_order_modal_title">Get Your Lab Reports</div>
        
        <div class="teleconsultation_summary_lab_order_modal_description_container">
            Get your laboratory reports at your door step
            <div class="teleconsultation_summary_lab_order_modal_description_image_container">
                <img ng-src="{{buyMedLabAndMedicationPartnerObj['lab_partner_logo']}}" class="teleconsultation_summary_lab_order_modal_description_image">
            </div>
            You will get a call from {{buyMedLabAndMedicationPartnerObj['lab_partner_name']}}
            to process your lab reports
            <div id="terms_condition_container">
                <input id="terms_condition_checkbox" type="checkbox" ng-model="terms_condition" ng-click="termsAcceptDeclineCheckbox(terms_condition)"/><span>I agree with all the&nbsp;&nbsp;<a id="terms_condition_link" ng-click="showTermsAndConditionUI()">Terms, Conditions & Privacy Policy</a></span>
            </div>
        </div>
        <div class="teleconsultation_summary_lab_order_modal_button_container">
            <a id="lab_order_btn" ng-show="showLabOrderButton" ng-click="shareLabDetails()" class="teleconsultation_summary_lab_order_modal_button disable_labOrder_btn">
                Yes Share<br>
                My  lab details to {{buyMedLabAndMedicationPartnerObj['lab_partner_name']}}
            </a>
            <div ng-show="showLabOrderLoader" class="vital-fetch-spinner" style="top: 10px;left:315px;display: block;" id="hideLabOrderProcessLoader"></div>
            <h3 ng-show="showOrderSuccessMsg"  style="color: green;text-transform: capitalize;">
            Your laboratory details shared successfully.
            </h3>
            <h3 ng-show="showOrderFailureMsg" style="color: red;text-transform: capitalize;">
            Sorry something went wrong.
            </h3>
        </div>
    </div>

    <!-- terms & condition UI -->
    <div id="terms_condition_main_container" ng-show="!showLabOrderUI">
        <div id="terms_condition_mainUI_in_labOrder">
            <div id="terms_condition_wrapper">
                <div class="terms_container" ng-bind-html="termsOfServicePpolHTML"></div>
            </div>
        </div>
        <div style="text-align: center;">
            <button id="show_lab_UI_btn" ng-click="closeTermsAndConditionUI()">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;<span>Get Your Lab Reports</span>
            </button>
        </div>
    </div>

</div>