<div class="BMCHealth_instructions_circle_container_2">
	<div class="BMCHealth_instructions_circle_place_overlays"></div>
	<div id="BMCHealth_instructions_circle2_place_frames"></div>
</div>

<div class="BMCHealth_instructions_text_2">
	<span>{{interfaceLabels[restwristt]}}</span>
</div>


<!-- <div class="bmc_instruction_still_text bmc_instruction_text"><span>{{interfaceLabels[restwristt]}}</span></div>
<div class="bmc_instruction_still bmc_instruction_circle">
    <div class="bmc_instruction_circle_overlay"></div>
    <div id="bmc_instruction_still_frames"></div>
</div> -->