<div class="BMCHealth_instructions_circle_container_1">
	<div class="BMCHealth_instructions_circle_place_overlays"></div>
	<div id="BMCHealth_instructions_circle1_place_frames"></div>
</div>

<div class="BMCHealth_instructions_text_1">
	<span>{{interfaceLabels[gentleholdhan]}}</span>
</div>


<!-- <div class="bmc_instruction_place_text bmc_instruction_text"><span>{{interfaceLabels[gentleholdhan]}}</span></div>


<div class="bmc_instruction_place bmc_instruction_circle">
    <div class="bmc_instruction_circle_overlay"></div>
    <div id="bmc_instruction_place_frames"></div>
</div> -->