<style type="text/css">
	#PrescrionTable {
	  	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	  	border-collapse: collapse;
	  	width: 100%;
		overflow: hidden;
	}

#PrescrionTable td {
  border: none;
  padding: 5px;
  text-align: center;
  word-break: break-all;
}
#PrescrionTable tr:nth-child(even){/*background-color: #d8d8d8;*/}
#PrescrionTable tr:nth-child(odd){/*background-color: #e6e6e6;*/}

#PrescrionTable tr:hover {/*background-color: #ddd;*/}

#PrescrionTable th {
	 color: #2a76c4; 
	 font-family: 'IntervalSansProCondSemiBoldRg';
	 letter-spacing: 0.7px;	 
	 text-align: center;
	 padding-top: 5px;
     padding-bottom: 5px;
     border-bottom: 1px solid #CCC;
}

table{
	border: 1px solid #CCC;
    
}


::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  /*border-radius: 10px;*/
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc; 
}
hr { 
  position: relative;
  top: 102px;
  margin-bottom: 0.5em;
  margin-left: 45px;
  margin-right: 45px;
  border-style: inset;
  border-width: 2px;
} 
footer{
    background-color: white;
    width: 100%;
    height: 12%;
    bottom: -5px;
    position: fixed;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
}

</style>

<div class="scrollbar" style="height: 90%">
  <div id="splash_logo"></div>

  <div style="color: #2a76c4; top:30px; position: absolute; font-family: 'IntervalSansProCondSemiBoldRg';margin-left: 400px">
  	
    <div class = "patient_details">{{interfaceLabels[DOCTORNAME]}}<span class ="patient_details_span">{{doctorname}}</span></div>
    
    <div class = "patient_details" >{{interfaceLabels[GENDER]}}<span class ="patient_details_span">{{doctorspec}}</span></div>

    <div class = "patient_details">{{interfaceLabels[EMAIL]}}<span class ="patient_details_span">{{doctoremail}}</span></div>

  </div>

  <div>
    <hr>
  </div>

  <div style="color: #2a76c4; top:100px; position: relative; font-family: 'IntervalSansProCondSemiBoldRg';margin-left: 52px">
  	
    <div class = "patient_details">{{interfaceLabels[USERNAME]}}<span class = "patient_details_span">{{patientName}}</span></div>

    <div class = "patient_details" >{{interfaceLabels[AGE]}}<span class = "patient_details_span">{{patienAge}}</span></div>
    <div class = "patient_details">{{interfaceLabels[GENDER]}}<span class = "patient_details_span">{{patientgender}}</span></div>

    <div class = "patient_details">{{interfaceLabels[DATE]}}<span class = "patient_details_span">{{dateTime}}</span></div>

  </div>


  <div style="position:relative;top: 27px; margin-left: 67px">
  	<img style="width:9%" src="images/prescription_rx.png">
  </div>

  <div  id = "mvm_not_available" style="margin-top: 50px;margin-left: -5px">
  	<div style="width:80%; margin:auto;">
  		<div  id="tele_prescriptionoutline"> 
  			<div id="tele_style-2">
  			<table  id="PrescrionTable">
  				<tr> 
  					<th> {{interfaceLabels[DrugName]}} </th>
  					<th> {{interfaceLabels[Dosage]}} </th>		
  					<th> {{interfaceLabels[Frequency]}} </th>
  					<th> {{interfaceLabels[Instructions]}} </th>
  				</tr>
  				<tr data-ng-repeat = "prescriplist in prescriptionLists">
  					<td> {{prescriplist.drug_name}} </td>
  					<td> {{prescriplist.dosage}} </td>
  					<td> {{prescriplist.frequency}}  </td>
  					<td> {{prescriplist.notes}}  </td>
  				</tr>  
  			</table>
  			</div>
  		</div>
    	<div>
    		<div style="color: #2a76c4; text-align: left; font-family: 'IntervalSansProCondSemiBoldRg'; font-size: 18px; text-shadow: 0px -1px 1px #fff; margin-left: 2px; position: relative; margin-bottom: -60px; top: 25px">{{interfaceLabels[drsignature]}}<span class = "patient_details_span"> <br> <img data-ng-if="doctorsign != '' " src="{{doctorsign}}" /></span></div>
    	</div>
    </div>	
    <hr>
  </div>

</div>

		
<footer class="box">
	<div style="text-align:center; position: fixed; top: -10px; margin-left: 155px;" data-ng-show="true">	
	<div class="Logout_BtnShadow">		
	     <button class="logoutBtn" data-ng-click="goHome()">{{interfaceLabels[logout]}} </button> 
   </div>
   <div class="Print_BtnShadow">
        <button class="printBtn" data-ng-click="printprescriptions()" > {{interfaceLabels[print]}} </button> 
   </div> 
</footer>