<div id="higi_maintenance">
<div id="maintenance_message" ng-bind-html="interfaceLabels[maintMessage] "></div>
<div id="maintenance_hotspot"></div>

<div id="maintenance_error_pane_message" ng-bind-html="interfaceLabels[maintSupport] "></div>
<div id="maintenance_pwd_field_container">
    <div id="maintenance_pwd_title" ng-bind-html="interfaceLabels[maintEnterPw] "></div>
    <div id="maintenance_pwd_field"></div>
    <div id="maintenance_error_pane" ng-bind-html="interfaceLabels[maintInvalidCreds] "></div>
</div>
</div>
