<style>
 .tele_genixs_radio_container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-top: 20px;
    margin-left: 20px;
  cursor: pointer;
  font-size: 22px;
   color: #4a4a4a;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tele_genixs_radio_nocontainer{
	 display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-top: 20px;
    margin-left: 20px;
  cursor: pointer;
  font-size: 22px;
   color: #4a4a4a;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.tele_genixs_radio_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.tele_genixs_radio_nocontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.tele_genixs_radio_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid #cccccc;
}

.tele_genixs_radio_nocheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;    
  border: 1px solid #cccccc;
}

/* On mouse-over, add a grey background color */
.tele_genixs_radio_container:hover input ~ .tele_genixs_radio_checkmark {
  background-color: #ccc;
}

.tele_genixs_radio_nocontainer:hover input ~ .tele_genixs_radio_nocheckmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.tele_genixs_radio_container input:checked ~ .tele_genixs_radio_checkmark {
  background-color: #2196F3;
}

.tele_genixs_radio_nocontainer input:checked ~ .tele_genixs_radio_nocheckmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.tele_genixs_radio_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.tele_genixs_radio_nocheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.tele_genixs_radio_container input:checked ~ .tele_genixs_radio_checkmark:after {
  display: block;
}

.tele_genixs_radio_nocontainer input:checked ~ .tele_genixs_radio_nocheckmark:after {
  display: block;
}


/* Style the indicator (dot/circle) */
.tele_genixs_radio_container .tele_genixs_radio_checkmark:after {
 	top: 8px;
	left: 8px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.tele_genixs_radio_nocontainer .tele_genixs_radio_nocheckmark:after {
 	top: 8px;
	left: 8px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.tele_genixs_radio_questions{
  margin-top: 82px;
  margin-left: 20px;
  font-family: IntervalSansProMediumRegular;
  font-size: 28px;
  color: #4a4a4a;
}

</style>

<div class="tele_genixs_radio_questions">{{teleradiogenix.name}}</div>

<label class="tele_genixs_radio_container" > YES
  <input type={{teleradiogenix.input_type}}  name={{teleradiogenix.name}} ng-model="teleradiogenix.isUserAnswer" ng-value='"Yes"' ng-click="focusFieldYes(result)" >
  <span class="tele_genixs_radio_checkmark" required={{teleradiogenix.is_required}} ></span>
</label>

<label class="tele_genixs_radio_nocontainer" > NO
  <input type={{teleradiogenix.input_type}}  name={{teleradiogenix.name}} ng-model="teleradiogenix.isUserAnswer" ng-value='"No"' ng-click="focusFieldNo(result)" >
  <span class="tele_genixs_radio_nocheckmark" required={{teleradiogenix.is_required}} ></span>
</label>