<div class="bodycomp_warning_modal pregnant {{disclaimerTransitionClass}}">
    <div class="message">
      <div class="title" style="padding: 5px 27px 8px 20px;font-size: 22px;font-weight: bold;">*<u>DISCLAIMER</u>*</div>
      <div class="sub-title" style="font-size: 18px;margin-bottom: -15px;padding-left: 93px;padding-right: 50px;text-align: center;width: auto;margin-left: -31px;">Eating or drinking before the BCA <b style="font-size: 16px;">(BODY COMPOSITION ANALYSIS)</b> test may slight alter the results.</div>
      <div class="sub-title" style="font-size: 18px;margin-top: 2px;padding-left: 93px;padding-right: 45px;text-align: center;width: auto;margin-left: -31px;margin-top: 18px;"><b><u>Note</u>:</b> It is best to wait atleast 2 hours after eating or drinking before taking the BCA <b style="font-size: 16px;">(BODY COMPOSITION ANALYSIS)</b> test for the most accurate results.</div>
    </div>
    <div class="buttons">
      <a ng-click="bmcDisclamerOk('ok')" class="accept" style="margin-left: 95px;">OK</a>
    </div>
  </div>
  