<div class="no-press-events" ng-if="loadingModalVisiblee" >
    <div ng-show="loadingModalReadyVisibleeee" class="higi_keyboard_dialog">
          <div class="loadingPageContainer">
          	<p class="user_message_for_loadingScreen">Hi</p>
           <!-- <span class="error-message-one" ng-bind-html="interfaceLabels[pageLoadErrorMessageOne]"></span>-->
          <!--  <div class="loadingPage-logo"></div> -->
           <!-- <div class="loadingPage-spinner"></div>-->
          </div>
    </div>
    <a class="higi_overlay_mask" ng-if="loadingModalReadyVisibleeee"></a>
</div>