<div class="ivt_warning_modal_box_main_container">
    <div class="ivt_warning_modal_box_message_container">
          <!-- <div class="bp_warning_modal_box_message_title">{{interfaceLabels[ivtWarningMessageModal.warning]}}</div> -->
          <div class="ivt_warning_modal_box_message_content">{{ modalWarningContent }}</div>
          <div class="ivt_warning_modal_ConnectIcon"><img src="images/invasiveDeviceCon.png"></div>
    </div>
  
    <div class="bp_warning_modal_box_button_container">
          <a class="ivt_warning_modal_box_button_continue" ng-click="ivtWarningModalButtonClicked()">
              <span>Ok</span>
          </a>
    </div>
</div>