<div class="welcome_screen_title">
    {{interfaceLabels[welcomePageHeadlineText]}} 
</div>

<div class="invasive_dashboard_header_container">
    <img class="invasive_dashboard_header_container_logo" src="images/invasive-logo-off.png">
    <span class="invasive_dashboard_header_container_text">{{interfaceLabels[invasive]}}</span>
</div>

<div class="invasive_dashboard_header_container_subText">
    <span>{{interfaceLabels[ivtDashSubTitle]}}</span>
</div>

<div class="invasive_dashboard_main_container">
    <div id="invasive_btn_box_ng">
        <div ng-repeat="button in invasiveBtn" class="invasive_btn_style"  id="{{ button.buttonId }}">
            <div class="buttonBorder" ng-click="selectIvtTest(button)">
                <div ng-show = "kioskWithPaymentMode && vitalPayment">
                    <div class="price_border_line1"></div>
                    <div class="price_border_line2">
                        <p class="price_text">
                           &#x20B9; {{button.price}}/-
                        </p>
                    </div>
                </div>
                <img class="invasive_btn_icon {{button.buttonId}}">
                <span class="invasive_btn_text">{{ interfaceLabels[button.label] }}</span>
            </div>
        </div>
    </div>
</div>

<a class="invasive_dashboard_back_button" ng-show="ivtDashboardBackVisible" ng-class="{'button-enter-left' : ivtDashboardBackVisible, 'button-exit-right' : !ivtDashboardBackVisible}" ng-click="backButtonOut()">
    <span class="invasive_previous_page_text">{{interfaceLabels[prevSlideText]}}</span>
</a>

<div class="invasive_dashboard_header_container_subText" ng-show = "kioskWithPaymentMode && vitalPayment && kioskVitalTestCost !== 0">
    <p class="price_total_container" style="top: 0px;"> {{interfaceLabels[pay_title]}}: 
        <span class="price_total_text"> &#x20B9; {{kioskVitalTestCost}} /-<span> 
    </p>
</div>

<a class="invasive_dashboard_continue_next_button flow_begins_button" ng-show="ivtNextVisible" ng-class="{'button-enter-right' : ivtNextVisible, 'button-exit-right' : !ivtNextVisible}" ng-click="selectedIvtTestList()"
     style="width: 200px;">
    <span class="invasive_continue_next_button_text">{{interfaceLabels[AddIvasiveSelectedTest]}}</span>
</a>

<div class="kiosk_offline_tooltip" ng-show="kioskApiNotAvailableTipVisible">
   <div class="kiosk_offline_tooltip_text">
       {{interfaceLabels[ivtOfflineText]}} 
   </div>
</div>