
<div class="change_password_main_container">
    <div id="change_password_credentials" class="change_password_login">
        <div id="change_password_container01" ng-show="passwordResetModal.resetPassword01Visible" class="{{passwordResetModal.resetPassword01VisibleClass}}">
            <!-- <div id="change_password_back_btn" class="change_password_back_active_btn"><a ng-click="passwordResetModal.goBackToModal()">{{interfaceLabels[passwordResetModal.globalBack]}} <i class="fa fa-reply"></i></a></div> -->
            <div id="change_password_container01_title" higi_resource_html="login.forgot.your.password">{{interfaceLabels[passwordResetModal.loginForgotPassword]}}</div>
            <div class="change_password_reset_button" ng-click="passwordResetModal.resetPasswordButton()"><span higi_resource_html="login.reset.password">{{interfaceLabels[passwordResetModal.loginResetPassword]}}</span></div>
            <div class="change_password_seperator"><span  class="{{langClass}}">{{interfaceLabels[passwordResetModal.loginOr]}}</span></div>
            <div  class="change_password_continue_without_login_button" ng-style="{'opacity': (IHLTeleConsultSelected == true || isGuestUserFlowDisable == true)? '0.6' : ''}" ng-click="passwordResetModal.continueWithoutLoggingIn()"><span higi_resource_html="login.continue.without.logging.in">{{interfaceLabels[passwordResetModal.loginContinueWithoutLoggingIn]}}</span></div>
            <div class="change_password_small_hint" higi_resource_html="login.forgot.password.need.access.to.email">{{interfaceLabels[passwordResetModal.loginForgotPasswordNeedAccessToEmail]}}</div>
        </div>

        <div id="change_password_container02"  ng-show="passwordResetModal.resetPassword02Visible" class="{{passwordResetModal.resetPassword02VisibleClass}}">
            <div id="change_password_back_btn" class="change_password_back_active_btn"><a ng-click="passwordResetModal.goBackToOne()">{{interfaceLabels[passwordResetModal.globalBack]}} <i class="fa fa-reply"></i></a></div>
            <div id="change_password_container02_title" higi_resource_html="login.reset.your.password">{{interfaceLabels[passwordResetModal.loginResetYourPassword]}}</div>
            <div class="change_password_steps" higi_resource_html="global.step.1.of.3">{{interfaceLabels[passwordResetModal.globalStepOneOfThree]}}</div>
            <div class="change_password_Email_mobile_enter_small_hint" higi_resource_html="login.forgot.password.step.1.direction">{{interfaceLabels[passwordResetModal.loginForgotPasswordStepOneDirection]}}</div>
            <div  class="change_password_Email_not_exist_err" ng-show="passwordResetModal.loginEmailAddressError">{{interfaceLabels[passwordResetModal.loginEmailAddressErrorMessage]}}</div>
            <div class="change_password_validate_email_loader"></div>
            <higi-text-field field="passwordResetModal.fields[0]" class="change_password_first_input_box"></higi-text-field>
            <div class="change_password_button {{passwordResetModal.nextBtnActive}}" ng-click="passwordResetModal.submitReset()" ng-hide="passwordResetModal.submitting"><span higi_resource_html="global.send" ng-hide="passwordResetModal.submitting">{{interfaceLabels[passwordResetModal.globalSend]}}</span></div>
        </div>

        <div id="change_password_container03"  ng-show="passwordResetModal.resetPassword03Visible" class="{{passwordResetModal.resetPassword03VisibleClass}}">
            <div id="change_password_back_btn" class="change_password_back_active_btn"><a ng-click="passwordResetModal.goBackToTwo()">{{interfaceLabels[passwordResetModal.globalBack]}} <i class="fa fa-reply"></i></a></div>
            <div id="change_password_container03_title" higi_resource_html="login.reset.your.password">{{interfaceLabels[passwordResetModal.loginResetYourPassword]}}</div>
            <div class="change_password_steps" higi_resource_html="global.step.2.of.3">{{interfaceLabels[passwordResetModal.globalStepTwoOfThree]}}</div>
            <div class="change_password_Email_mobile_enter_small_hint">{{interfaceLabels[passwordResetModal.loginForgotPasswordStepTwoDirection]}}</div>
            <div  class="change_password_not_exist_err" ng-show="passwordResetModal.loginPasswordError">{{interfaceLabels[passwordResetModal.loginPasswordErrorMessage]}}</div>
            <div class="change_password_validate_email_loader"></div>
            <higi-text-field field="passwordResetModal.fields[1]"
            class="change_password_second_input_box"></higi-text-field>
            <div ng-click="passwordResetModal.showPasswordToggle(passwordResetModal.fields[1])" class="change_password_eyes_images {{passwordResetModal.showPasswordClass}}"></div>
            <div class="change_password_button {{passwordResetModal.loginBtnActive}}" ng-click="passwordResetModal.login()" ng-hide="passwordResetModal.submitting"><span higi_resource_html="global.submit">{{interfaceLabels["global.submit"]}}</span></div>
            <small ng-show="passwordResetModal.resend_otp_forgotpassword" class="resend_otp_forgotpassword_class"><a ng-click="passwordResetModal.resendOTP()" style="color: #0261c2;">Resend</a> the OTP code</small>
            <small ng-show="passwordResetModal.otpsend_successfully" class="resend_otp_forgotpassword_class"><a style="color: #64df1c;">OTP Sent</a></small>
            <div class="otpsend_loader"></div>
        </div>

        <div id="change_password_container04"  ng-show="passwordResetModal.resetPassword04Visible" class="{{passwordResetModal.resetPassword04VisibleClass}}">
            <div id="change_password_back_btn" class="change_password_back_active_btn"><a ng-click="passwordResetModal.goBackToThree()">{{interfaceLabels[passwordResetModal.globalBack]}} <i class="fa fa-reply"></i></a></div>
            <div id="change_password_container04_title" higi_resource_html="login.reset.your.password">{{interfaceLabels[passwordResetModal.loginResetYourPassword]}}</div>
            <div class="change_password_steps" higi_resource_html="global.step.3.of.3">{{interfaceLabels[passwordResetModal.globalStepThreeOfThree]}}</div>
            <div class="change_password_Email_mobile_enter_small_hint" higi_resource_html="login.forgot.password.step.3.direction">{{interfaceLabels[passwordResetModal.loginForgotPasswordStepThreeDirection]}}</div>
            <div  class="change_password_new_password_err" ng-show="passwordResetModal.loginPasswordError">{{interfaceLabels[passwordResetModal.loginPasswordErrorMessage]}}</div>
            <div class="change_password_validate_email_loader"></div>
            <small class="change_password_new_password_hint">{{interfaceLabels[passwordHintText]}} <span class="change_password_new_password_hint_num">{{interfaceLabels[passwordHintNum]}},</span><span class="change_password_new_password_hint_cap">{{interfaceLabels[passwordHintCapital]}},</span><span class="change_password_new_password_hint_sym">{{interfaceLabels[passwordHintSym]}}</span><span class="change_password_new_password_hint_min"> {{interfaceLabels[passwordHintMinchar]}}.</span></small>
            <!-- <small class="change_password_new_password_hint">{{interfaceLabels[validPasswordErrText]}} <span class="change_password_new_password_hint_Num">{{interfaceLabels[validPasswordErrTextNum]}}</span><span class="change_password_new_password_hint_Cap">{{interfaceLabels[validPasswordErrTextCap]}}</span><span class="change_password_new_password_hint_Sym">{{interfaceLabels[validPasswordErrTextSym]}}</span><span class="change_password_new_password_hint_Min">{{interfaceLabels[validPasswordErrTextMin]}}</span></small> -->
            <higi-text-field field="passwordResetModal.fields[2]" class="change_password_third_input_box"></higi-text-field>
            <div ng-click="passwordResetModal.showPasswordToggle(passwordResetModal.fields[2])" class="change_password_eyes_images2 {{passwordResetModal.showPasswordClass2}}"></div>
            <div class="change_password_button {{passwordResetModal.loginBtnActive}}" ng-click="passwordResetModal.setNewPassword()" ng-hide="passwordResetModal.submitting"><span higi_resource_html="global.submit">{{interfaceLabels["global.submit"]}}</span></div>
        </div>
    </div>
</div>




<!-- 
<div id="keyboard_login">
    <div id="login_credentials" class="login-password-reset">
    <div id="login_forgot_password01" ng-show="passwordResetModal.resetPassword01Visible" class="{{passwordResetModal.resetPassword01VisibleClass}}">
        <div id="keyboard_back_btn" class="active_btn"><a ng-click="passwordResetModal.goBackToModal()">{{interfaceLabels[passwordResetModal.globalBack]}} <i class="fa fa-reply"></i></a></div>
        <div id="login_title" higi_resource_html="login.forgot.your.password">{{interfaceLabels[passwordResetModal.loginForgotPassword]}}</div>
        <div id="reset_password_btn" class="forgot_password_green_btn" ng-click="passwordResetModal.resetPasswordButton()"><span higi_resource_html="login.reset.password">{{interfaceLabels[passwordResetModal.loginResetPassword]}}</span></div>
        <div class="login_separator"><span class="{{langClass}}">{{interfaceLabels[passwordResetModal.loginOr]}}</span></div>
        <div id="continue_without_login_btn" class="forgot_password_green_btn" ng-click="passwordResetModal.continueWithoutLoggingIn()"><span higi_resource_html="login.continue.without.logging.in">{{interfaceLabels[passwordResetModal.loginContinueWithoutLoggingIn]}}</span></div>
        <div class="forgot_password_direction" higi_resource_html="login.forgot.password.need.access.to.email">{{interfaceLabels[passwordResetModal.loginForgotPasswordNeedAccessToEmail]}}</div>
    </div>

    <div id="login_forgot_password02"  ng-show="passwordResetModal.resetPassword02Visible" class="{{passwordResetModal.resetPassword02VisibleClass}}">
        <div id="keyboard_back_btn" class="active_btn"><a ng-click="passwordResetModal.goBackToOne()">{{interfaceLabels[passwordResetModal.globalBack]}} <i class="fa fa-reply"></i></a></div>
        <div id="login_title" higi_resource_html="login.reset.your.password">{{interfaceLabels[passwordResetModal.loginResetYourPassword]}}</div>
        <div class="forgot_password_step {{langClass}}" higi_resource_html="global.step.1.of.3">{{interfaceLabels[passwordResetModal.globalStepOneOfThree]}}</div>
        <div class="forgot_password_direction" higi_resource_html="login.forgot.password.step.1.direction" ng-hide="passwordResetModal.loginEmailAddressError">{{interfaceLabels[passwordResetModal.loginForgotPasswordStepOneDirection]}}</div>
        <div id="forgot_password_error" ng-show="passwordResetModal.loginEmailAddressError">{{interfaceLabels[passwordResetModal.loginEmailAddressErrorMessage]}}</div>
        <div id="forgot_password_loading" class="keyboard_dialog_loading"></div>
        <higi-text-field field="passwordResetModal.fields[0]"></higi-text-field>
        <div id="forgot_password_send_btn" class="keyboard_submit_btn {{passwordResetModal.nextBtnActive}}" ng-click="passwordResetModal.submitReset()" ng-hide="passwordResetModal.submitting"><span higi_resource_html="global.send" ng-hide="passwordResetModal.submitting">{{interfaceLabels[passwordResetModal.globalSend]}}</span></div>
    </div>

    <div id="login_forgot_password03"  ng-show="passwordResetModal.resetPassword03Visible" class="{{passwordResetModal.resetPassword03VisibleClass}}">
        <div id="keyboard_back_btn" class="active_btn"><a ng-click="passwordResetModal.goBackToTwo()">{{interfaceLabels[passwordResetModal.globalBack]}} <i class="fa fa-reply"></i></a></div>
        <div id="login_title" higi_resource_html="login.reset.your.password">{{interfaceLabels[passwordResetModal.loginResetYourPassword]}}</div>
        <div class="forgot_password_step {{langClass}}" higi_resource_html="global.step.2.of.3">{{interfaceLabels[passwordResetModal.globalStepTwoOfThree]}}</div>
        <div class="forgot_password_direction"  ng-hide="passwordResetModal.loginPasswordError">{{interfaceLabels[passwordResetModal.loginForgotPasswordStepTwoDirection]}}</div>
        <div id="forgot_password_error" ng-show="passwordResetModal.loginPasswordError">{{interfaceLabels[passwordResetModal.loginPasswordErrorMessage]}}</div>
        <div id="forgot_password_loading" class="keyboard_dialog_loading"></div>
        <higi-text-field field="passwordResetModal.fields[1]"></higi-text-field>
        <div id="forgot_show_password_btn"  ng-click="passwordResetModal.showPasswordToggle(passwordResetModal.fields[1])" class="{{passwordResetModal.showPasswordClass}}"></div>
        <div id="forgot_show_password_note" higi_resource_html="login.show.password">{{interfaceLabels[passwordResetModal.loginShowPassword]}}</div>
        <div id="forgot_password_send_btn" class="keyboard_submit_btn {{passwordResetModal.loginBtnActive}}" ng-click="passwordResetModal.login()" ng-hide="passwordResetModal.submitting"><span higi_resource_html="global.submit">{{interfaceLabels["global.submit"]}}</span></div>
    </div>

    <div id="login_forgot_password04"  ng-show="passwordResetModal.resetPassword04Visible" class="{{passwordResetModal.resetPassword04VisibleClass}}">
        <div id="keyboard_back_btn" class="active_btn"><a ng-click="passwordResetModal.goBackToThree()">{{interfaceLabels[passwordResetModal.globalBack]}} <i class="fa fa-reply"></i></a></div>
        <div id="login_title" higi_resource_html="login.reset.your.password">{{interfaceLabels[passwordResetModal.loginResetYourPassword]}}</div>
        <div class="forgot_password_step {{langClass}}" higi_resource_html="global.step.3.of.3">{{interfaceLabels[passwordResetModal.globalStepThreeOfThree]}}</div>
        <div class="forgot_password_direction" higi_resource_html="login.forgot.password.step.3.direction" ng-hide="passwordResetModal.loginPasswordError">{{interfaceLabels[passwordResetModal.loginForgotPasswordStepThreeDirection]}}</div>
        <div id="forgot_password_error" ng-show="passwordResetModal.loginPasswordError">{{interfaceLabels[passwordResetModal.loginPasswordErrorMessage]}}</div>
        <div id="forgot_password_loading" class="keyboard_dialog_loading"></div>
        <higi-text-field field="passwordResetModal.fields[2]"></higi-text-field>
        <div id="forgot_show_password_btn" ng-click="passwordResetModal.showPasswordToggle(passwordResetModal.fields[2])"  class="{{passwordResetModal.showPasswordClass}}"></div>
        <div id="forgot_show_password_note" higi_resource_html="login.show.password">{{interfaceLabels[passwordResetModal.loginShowPassword]}}</div>
        <div id="forgot_password_send_btn" class="keyboard_submit_btn {{passwordResetModal.loginBtnActive}}" ng-click="passwordResetModal.setNewPassword()" ng-hide="passwordResetModal.submitting"><span higi_resource_html="global.submit">{{interfaceLabels["global.submit"]}}</span></div>
    </div>
    </div>


</div> -->