
<div class="offline_modal_main_container">
    <img class="offline_modal_image_container" src = "images/regprompt_offline-en_us.png" />

    <a class="offline_modal_continue_button" ng-click= "continueWithGuestUser()">
        <span>Continue as guest user</span>
    </a>
</div>



<!-- <div id="keyboard_regprompt_container">
    <div class="regPromptupperText">
        {{interfaceLabels[registrationPromptUpperText1]}}<span style="color: black">{{interfaceLabels[registrationPromptUpperText2]}}</span>
    </div>
    <div id="regprompt_message01" ng-hide="true">
        <span class="regprompt_message" ng-bind-html="interfaceLabels[registrationPromptMessage]"></span>
    </div>
    <div id="{{registrationPromptValueProp}}"><img ng-src="{{registrationPromptValuePropAd}}"></div>
    <div class="regPromptLowerText">
        <span>{{interfaceLabels[registrationPromptLowerText]}}</span>
    </div>
    <div id="regprompt_skip_btn"   ng-show="apiStatus"><a ng-click="regPromptSkip(testPath)">{{interfaceLabels[registrationPromptSkip]}}</a></div>
    <div id="regprompt_login_btn"  ng-show="apiStatus"><a ng-click="regPromptLogin(loginMode)" ng-bind-html="interfaceLabels[registrationPromptLogin]" class="{{langClass}}"></a></div>
    <div id="regprompt_create_account_btn"  ng-show="apiStatus"><a ng-click="regPromptRegister(registerMode)">{{interfaceLabels[registrationPromptCreateAccount]}}</a></div>
    
    <div id="regprompt_offline_skip_btn"  ng-show="!apiStatus" ng-click="regPromptSkip(testPath)">
    	<a>{{interfaceLabels[registrationPromptUpperText2]}}</a>
    </div>
</div> -->