<div class="bp_warning_modal_box_main_container {{bpwarningModalBoxEnterExit}}">
    <div class="bp_warning_modal_box_message_container">
        <div class="temperature_techIssue_modal_box_message {{langClass}} ">{{temperatureTechnicalIssueMessage}}</div>
    </div>
  
    <div class="bp_warning_modal_box_button_container temperature_modal_box_message_button_skip">
        <a class="bp_warning_modal_box_button_skip" ng-click="skipTestClick()">
            <span ng-bind-html="interfaceLabels[temperatureSkipButton]"></span>
        </a>
    </div>
  </div>