<style type="text/css">
    .telemedi_newgenix_slide_container{
        overflow: hidden;
        top: 0;
        left: 0;
        width: 710px;
        height: 520px;
    }
    .telemedi_newgenix_slide_title{
        font-size: 31px;
        color: #0261c2;
        font-family: "IntervalSansProCondSemiBoldRg";
        position: absolute;
        top: 20px;
        left: 20px;
        width: 670px;
    }
    /*.tele_textbutton {
        top:131px;
        left: 450px;
    }

     .tele_checkbutton {
        top: 316px;
        left: 325px;
    }

    .tele_radiobutton{
        top: 270px;
        left: 325px;
    }

    .tele_textareabutton{
        top: 179px;
        left: 410px;
    }

    .tele_datebutton{
      top: 131px;
      left: 450px;
    }

    .tele_textslidebutton{
      margin-top: 27px;
      margin-left: 20px;
      height: 50px;
      width: 100px;
    }
    .tele_textslidenxtbutton{
      height: 50px;
      width: 100px;
    }
    .tele_textareaslidebutton{
      height: 50px;
      width: 50px;
    }
    .tele_textareaslidenxtbutton{
      margin-left: 138px;
      height: 50px;
      width: 50px;
    }
    .tele_textarearightclass{
    margin-left: 355px;
    position: relative;
    top: -51px;
    }
    .tele_textarealeftclass{
    margin-left: 544px;
    position: relative;
    top: -101px;
    }
    .tele_radioslidebutton{
     margin-top: 270px;
     margin-left: 20px;
     height: 50px;
     width: 100px;
    }
    .tele_radioslidenxtbutton {
      height: 50px;
      width: 100px;
    }  
    .tele_checkslidebutton {
      margin-top: 316px;
      margin-left: 20px;
      height: 50px;
      width: 100px;
    }
    .tele_checkslidenxtbutton{
      height: 50px;
      width: 100px;
    }
    .tele_dateslidebutton{
     margin-top: 27px;
     margin-left: 20px;
     height: 50px;
     width: 100px;
    }
    .tele_dateslidenxtbutton{
      height: 50px;
      width: 100px;
    }
    .tele_previousbuttonclass{
    background-image: -webkit-linear-gradient(90deg, #dedede 0%, #dfdfdf 10%, #eaeaea 84%, #ebebeb 100%);
     background-image: -ms-linear-gradient(90deg, #dedede 0%, #dfdfdf 10%, #eaeaea 84%, #ebebeb 100%);
     -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
     box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
     border: 1px solid #cecece;
     border-radius: 3px;
     color: #fff;
     font-size: 22px;
     text-align: center;
     text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.2);
     pointer-events: none;
    }
    .tele_activepreviousbuttonclass{
     background-image: -moz-linear-gradient(90deg, #2a76c4 0%, #3f90e2 100%);
     background-image: -ms-linear-gradient(90deg, #2a76c4 0%, #3f90e2 100%);
     pointer-events: all;
     background-image: -moz-linear-gradient(90deg, #2a76c4 0%, #3f90e2 100%);
     background-image: -webkit-linear-gradient(90deg, #2a76c4 0%, #3f90e2 100%);
     background-image: -ms-linear-gradient(90deg, #2a76c4 0%, #3f90e2 100%);
     border-style: solid;
     border-width: 1px;
     border-color: #2a76c4;
     text-shadow: 0px -1px 0px #828282;
     border-radius: 3px;
     color: #FFF;
     font-size: 22PX;
     text-align: center;
    }
    .tele_nextbuttonclass{
    background-image: -webkit-linear-gradient(90deg, #dedede 0%, #dfdfdf 10%, #eaeaea 84%, #ebebeb 100%);
     background-image: -ms-linear-gradient(90deg, #dedede 0%, #dfdfdf 10%, #eaeaea 84%, #ebebeb 100%);
     -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
     box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
     border: 1px solid #cecece;
     border-radius: 3px;
     color: #fff;
     font-size: 22px;
     text-align: center;
     text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.2);
     pointer-events: none;
    }
    .tele_activennextbuttonclass{
     background-image: -moz-linear-gradient(90deg, #2a76c4 0%, #3f90e2 100%);
     background-image: -ms-linear-gradient(90deg, #2a76c4 0%, #3f90e2 100%);
     pointer-events: all;
     background-image: -moz-linear-gradient(90deg, #2a76c4 0%, #3f90e2 100%);
     background-image: -webkit-linear-gradient(90deg, #2a76c4 0%, #3f90e2 100%);
     background-image: -ms-linear-gradient(90deg, #2a76c4 0%, #3f90e2 100%);
     border-style: solid;
     border-width: 1px;
     border-color: #2a76c4;
     text-shadow: 0px -1px 0px #828282;
     border-radius: 3px;
     color: #FFF;
     font-size: 22PX;
     text-align: center;
    }*/
    .genix_telemedicine_submit{
     pointer-events: all;
     width: 150px;
     background-color: #2a76c4;
     border: 1px solid #0261c2;
     border-radius: 3px;
     background-image: -webkit-linear-gradient(90deg, #2a76c4 0%, #3f90e2 100%);
     top: 300px;
     left: 290px;
     box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
     height: 60px;
     position: absolute;

    }
    .genix_telemedicine_submit span {
     color: #fff;
     font-size: 22px;
     text-align: center;
     font-family: 'IntervalSansProMediumRegular';
     text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.2);
     line-height: 57px;
     height: 54px;
     display: inline-block;
     opacity: .9;
     margin-left: 49px;
    }
    .newgenixs_alert_class{
      color: red;
      position: absolute;
      left: 220px;
      top: 15px;
    }
    
</style>
		
<div class="telemedi_newgenix_slide_container" >
 <div class="telemedi_newgenix_slide_title" >Reason for visit</div> 
 <p ng-if="inputAlertShow" class="newgenixs_alert_class">Please choose an option</p>
  <genixtelemedi-radio-list style="position: absolute;" ng-if="genixquestions.input_type == 'radio'"  teleradiogenix="genixquestions"> 
  </genixtelemedi-radio-list>
  <genixtelemedi-check-list style="position: absolute;" ng-if="genixquestions.input_type == 'checkbox'"  telecheckgenix="genixquestions"> 
  </genixtelemedi-check-list>
  <a id="genix_next_button" class="genix_telemedicine_submit" ng-click="genixAnswerSubmit()"><span>Next</span></a>              
</div>
  

